.Card{
  width: 300px;
  height: 500px;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .25);
  transform-style: preserve-3d;
  transition: all .7s linear;
}

.Card img{
  position: absolute;
  top: 0;
  z-index: -1;
}

.Card h3{
  color: white;
  font-size: 30px;
  margin: 20px 0 0 20px;
  width: 190px;
}

.Card p{
  color: rgba(0, 0, 0, 1);
  opacity: 0;
  font-weight: 600;
  font-size: 18px;
  align-self: end;
  margin: 0 0 20px 20px;
}

