.onBackground{
  background: url('../images/night-sky-2116521_1920.jpg');
  height: 500px;
  background-size: cover;
  background-position: center;
}
.backgroundHeader{
  text-align: center;
}

.backgroundHeader h2{
  margin:0 auto;
  padding-top: 125px;
  color: white;
  font-size: 70px;
  width: 370px;
}

.Cards h2{
  font-size: 40px;
}

.contactForm{
  margin: 10px 40px 100px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px;
  justify-items: center;
}