.copyright{
  text-align: center;
}

.mainFooter{
  padding-top: 5px;
  background-color: rgba(223, 219, 219, 0.534);
  box-shadow: 0 50vh 0 50vh rgba(223, 219, 219, 0.534);
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0px;
  justify-items: center;
}
@media(max-width: 435px){
  .mainFooter img{
    margin: 5px;  
    margin-top: 15px;
  }
  .mainFooter{
    font-size: 15px;
  }
}
.mainFooter img{
  margin: 5px;  
  margin-top: 15px;
}
.mainFooter p{
  margin-top: 10px;
  margin-bottom: 10px; 
}

