.copyright{
  text-align: center;
}

.mainFooter{
  padding-top: 5px;
  background-color: rgba(223, 219, 219, 0.534);
  box-shadow: 0 50vh 0 50vh rgba(223, 219, 219, 0.534);
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  justify-items: center;
}
.mainFooter p{
  margin-top: 10px;
  margin-bottom: 10px;
  
}