.background{
  height: 300px;
  background-size: cover;
  background-position: center;
}
h1{
  margin:50px;
  text-align: center;
}
.formSpace h1{
  margin: 40px;
}
.formSpace{
  margin-bottom: 40px;
}