.background{
  background: url('../images/LetTherBeMeat.jpg');
  height: 400px;
  background-size: cover;
  background-position: center;
}

.ranchCards{
  margin-left: auto;
  margin-right: auto;
}

.ranchCards a{
  color: rgb(51, 51, 51);
  font-size: 20px;
}

