.background{
  background: url('../images/LetTherBeMeat.jpg');
  height: 400px;
  background-size: cover;
  background-position: center;
}

.ranchCards{
  margin-left: auto;
  margin-right: auto;
}

.ranchCards a{
  color: rgb(51, 51, 51);
  font-size: 20px;
}

#searchAgain{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  margin-top: 80px;
}

#noneFound{
  margin-top: 100px;
}
button{
  padding: 8px 20px;
  font-size: 20px;
  background: rgba(220, 160, 23, 0.945);
  border: none;
  font-weight: 700;
  border-radius: 10px;
  color: white;
  outline: none;
  cursor:pointer;
  border: 2px solid rgba(0, 0, 0, 0.26);
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

button:hover{
  background: rgba(220, 140, 23, 0.945);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  transform: translateY(-3px);
}